<html>
	<body style="display:flex;justify-content:center;flex-direction: column;align-items: center;">
        <h1>Welcome to Battleship</h1>
		<table>
            {%for row in grid%}
            <tr>
                {%for item in row%}
                <td>{{item}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
        <br/>
        <form action="/calculate" method="post">
            <input name="X" placeholder="input X">
            <input name="Y" placeholder="input Y">
            <input type="submit" value="Submit">
        </form>
	</body>
</html>